h1 {
    /* background-color: #060CE9; */
    padding: 20px;
    text-align: center;
    /* color: white; */
    /* -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: silver; */
    text-transform: uppercase;

}

