<!doctype html>
<html lang="en"> 
    <head>

        <!--Required meta tags-->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Home</title>

        <!-- Bootstrap CSS-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

        <!-- Custom CSS-->
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">

        <!-- Bootstrap bundle with popper-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
        

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

        <!-- <title> Jeopardy Generator</title> -->
    </head>

    <body>
        

        <div class="container-fluid overflow-hidden">
            <div class="row vh-100 overflow-auto">
                <div class="col-12 col-sm-3 col-xl-2 px-sm-2 px-0 bg-dark d-flex sticky-top">
                    <div class="d-flex flex-sm-column flex-row flex-grow-1 align-items-center align-items-sm-start px-3 pt-2 text-white">
                        <a href="/" class="d-flex align-items-center pb-sm-3 mb-md-0 me-md-auto text-white text-decoration-none">
                            <span class="fs-5">J<span class="d-none d-sm-inline">eopardy Analytics</span></span>
                        </a>
                        <ul class="nav nav-pills flex-sm-column flex-row flex-nowrap flex-shrink-1 flex-sm-grow-0 flex-grow-1 mb-sm-auto mb-0 justify-content-center align-items-center align-items-sm-start" id="menu">
                            <li class="nav-item">
                                <a href="projectoverview" class="nav-link px-sm-0 px-2">
                                    <i class="fs-5 bi-cash-coin"></i><span class="ms-1 d-none d-sm-inline">Why Jeopardy?</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="tableau" class="nav-link px-sm-0 px-2">
                                    <i class="fs-5 bi-bar-chart-line"></i><span class="ms-1 d-none d-sm-inline">What are visualizations?</span> </a>
                            </li>
                            <li class="nav-item">
                                <a href="mlresearch" class="nav-link px-sm-0 px-2">
                                    <i class="fs-5 bi-signpost-split"></i><span class="ms-1 d-none d-sm-inline">Where is the Machine Learning?</span></a>
                            </li>
                            <li class="dropdown">
                                <a href="" class="nav-link dropdown-toggle px-sm-0 px-1" id="dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fs-5 bi-table"></i><span class="ms-1 d-none d-sm-inline">What are the data?</span>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdown">
                                    <li><a class="dropdown-item" href="originaldata">Original</a></li>
                                    <li><a class="dropdown-item" href="editeddata">Categorized</a></li>
                                </ul>
                            </li>
                            <br/>
                            <br/>
                            <!-- <br/>
                            <br/> -->
                            <li>
                                <p class="ms-1 d-none d-sm-inline">Scan for our Project Repo!</p>
                                <a href="https://github.com/nataligracia/Jeopardy-Analytics" class="nav-link px-sm-0 px-2">
                                    <i class="fs-5 bi-github d-block d-sm-none"></i><span class="ms-1 d-none d-sm-inline"><img src="../static/assets/QR.png" alt="QR" style="width:60%;"></span>
                                </a>
                            </li>

                        </ul>


                        <div class="dropdown py-sm-4 mt-sm-auto ms-auto ms-sm-0 flex-shrink-1">
                            <a href="https://github.com/Grace-Bijun-Li" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="contributor1" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="https://github.com/Grace-Bijun-Li.png" alt="Grace" width="28" height="28" class="rounded-circle">
                                <span class="d-none d-sm-inline mx-1">Grace</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="member1">
                                <li><a class="dropdown-item" href="https://www.linkedin.com/in/bijun-li/">LinkedIn</a></li>
                                <li><a class="dropdown-item" href="https://github.com/Grace-Bijun-Li">GitHub</a></li>

                                <!-- <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Resume</a></li> -->
                            </ul>
                        </div>

                        <div class="dropdown py-sm-4 mt-sm-auto ms-auto ms-sm-0 flex-shrink-1">
                            <a href="https://github.com/nataligracia" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="contributor2" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="https://github.com/nataligracia.png" alt="Natali" width="28" height="28" class="rounded-circle">
                                <span class="d-none d-sm-inline mx-1">Natali</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="member2">
                                <li><a class="dropdown-item" href="https://www.linkedin.com/in/nataligracia/">LinkedIn</a></li>
                                <li><a class="dropdown-item" href="https://github.com/nataligracia">GitHub</a></li>

                                <!-- <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Resume</a></li> -->
                            </ul>
                        </div>

                        <div class="dropdown py-sm-4 mt-sm-auto ms-auto ms-sm-0 flex-shrink-1">
                            <a href="https://github.com/seidyp" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="contributor3" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="https://github.com/seidyp.png" alt="Seidy" width="28" height="28" class="rounded-circle">
                                <span class="d-none d-sm-inline mx-1">Seidy</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="member3">
                                <li><a class="dropdown-item" href="https://www.linkedin.com/in/seidypacheco/">LinkedIn</a></li>
                                <li><a class="dropdown-item" href="https://github.com/seidyp">GitHub</a></li>

                                <!-- <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Resume</a></li> -->
                            </ul>
                        </div>

                        <div class="dropdown py-sm-4 mt-sm-auto ms-auto ms-sm-0 flex-shrink-1">
                            <a href="https://github.com/rashhola" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="contributor4" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="https://github.com/rashhola.png" alt="Hola" width="28" height="28" class="rounded-circle">
                                <span class="d-none d-sm-inline mx-1">Rasheed</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="member4">
                                <li><a class="dropdown-item" href="https://www.linkedin.com/in/rasheed-omolabi-5a32baa9/">LinkedIn</a></li>
                                <li><a class="dropdown-item" href="https://github.com/rashhola">GitHub</a></li>

                                <!-- <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Resume</a></li> -->
                            </ul>
                        </div>
                        <br>
                    </div>
                </div>



                <div class="col d-flex flex-column h-sm-100">
                    <main class="row overflow-auto">

                        <div class=row>
                            <div class="col-md-8">
                                <br/>
                                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                                    <div class="carousel-indicators">
                                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                    </div>
                                    <div class="carousel-inner">

                                        <div class="carousel-item active" data-bs-interval="7000">
                                            <a href="https://www.jeopardy.com/"> <img src="../static/assets/Jeopardy2021.png" class="d-block w-100" alt="Official Jeopardy Website!"></a>
                                            <div class="carousel-caption d-none d-md-block">
                                                <h5>Current Jeopardy Website!</h5>
                                                <p id="date"></p>
                                                    <script>
                                                    document.getElementById("date").innerHTML = Date();
                                                    </script>
                                            </div>
                                        </div>

                                        <div class="carousel-item" data-bs-interval="7000">
                                            <a href="https://web.archive.org/web/20111002084902/http://www.jeopardy.com/"> <img src="../static/assets/Jeopardy2011.png" class="d-block w-100" alt="2011 Jeopardy Website!"></a>
                                            <div class="carousel-caption d-none d-md-block">
                                                <h5>2011 Jeopardy Website!</h5>
                                                <p id="day"></p>
                                                    <script>
                                                    // document.getElementById("day").innerHTML = Date();
                                                    document.getElementById("day").innerHTML = new Date('October 2, 2011 12:00:00');
                                                    </script>
                                            </div>
                                        </div>

                                        <div class="carousel-item" data-bs-interval="7000">
                                            <a href="https://web.archive.org/web/19980514235738/http://jeopardy.com/"> <img src="../static/assets/Jeopardy1998.png" class="d-block w-100" alt="1998 Jeopardy Website!"></a>
                                            <div class="carousel-caption d-none d-md-block">
                                                <h5>1998 Jeopardy Website!</h5>
                                                <p id="then"></p>
                                                    <script>
                                                    // document.getElementById("then").innerHTML = Date();
                                                    document.getElementById("then").innerHTML = new Date('March 14, 1998 12:00:00');
                                                    </script>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                    </button>
                                </div>
                            </div>



                            <div class="col-md-4">
                            <br/>
                                <a class="twitter-timeline" data-height="100%" href="https://twitter.com/Jeopardy?ref_src=twsrc%5Etfw">Tweets by Jeopardy</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                            </div>


                        </div>




                        <div class="col pt-4">
                            <h1>Jeopardy Analysis & Topic Attribution Research</h3>
                            <p>As one of the longest-running and most awarded game shows in television history, Jeopardy contestants have collectively answered hundreds of thousands of questions in the last five decades. Our team set out on a mission to analyze and visualize Jeopardy questions and how topics and question values have changed over time. 

                                In addition to gaining a high-level view of Jeopardy trends over time, we identified a need to better classify each Jeopardy question. Our original dataset included category names that match the category names used in the show. For example, a question that falls into the "TAKE A PILL” category may be classified under a general literature category just as likely as it could be a scientific or historical category. Our project evolved to research how machine learning can play a role in better classifying each question at a scale that a person couldn’t. 
                                
                                We found that the BERTopic tool can be used across a vast dataset even when the corpus of a document is limited in its scope. At the end of this project, you will be able to review our findings on using BERTopic to classify questions compared to our manual topic classification work.
                                </p>
                            <hr />
                            <h2>Why Jeopardy?</h3>
                            <p>Jeopardy provides a vast amount of data that not only include data on how questions have changed over the years, but provided an opportunity to research and understand how natural language processing can be implemented to better classify bodies of text, no matter how limited in scope.</p>
                            
                            <h2>Findings</h3>
                            <p>Our top four findings are as follows:
                                <ol type="1">
                                    <li>Although Jeopardy has been around for decades, the highest question values have come through since the mid 2000’s. This may indicate that Jeopardy enthusiasts have found a way to make Jeopardy winnings much more lucrative than previously thought.
                                    </li>
                                    <li>Identifying the best segment of your data (questions versus answers) to classify topics is crucial prior to using any machine learning or natural language processing tool.
                                    </li>
                                    <li>BERTopic is a fantastic tool for unsupervised topic generation even with a limited body of text. Embedding models and minimizing topic requirement parameters is necessary to find a model that best fits the given data.
                                    </li>
                                    <li>How removing stop words impacts BERTopic
                                    </li>
                                  </ol>
                            </p>
                            <h2>Future Uses</h2>
                            <p>The findings from this project can not only be used by a Jeopardy enthusiast to see which topics are most prevalent and consistently asked, but can also be used as a starting point to generate topics for various things such as:
                                <ul>
                                    <li>Customer or employee reviews on surveys</li>
                                    <li>Standardized test question classification</li>
                                    <li>Trivia questions classification (and eventual generation)</li>
                                  </ul>
                            </p>
                        </div>

                        <!-- Add JeopardyLogo History Video
                        <div class="col pt-1">
                        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/eHDbZ1LHxqY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div> -->


                    </main>
                    <!-- <footer class="row bg-light py-4 mt-auto">
                        <div class="col"> Joyous Jaguars </div>
                    </footer> -->
                </div>
            </div>
        </div>

        
    
    </body>
</html>